<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
    <title>Giovani - Fullstack Developer</title>
  </head>
  <body>
        <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}">Início</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills') }}">Skills</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('projetos') }}">Projetos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sobre') }}">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contato') }}">Contato</a>
                  </li>
                </ul>
        </nav>

    <br>
    <div class="container">
        <div class="row">
          
            <div class="col-3">
                <img src="{{ url_for('static', filename='img/perfil.png')}}" class="img-fluid" id="img-perfil">
            </div>
            
            <div class="col-8">
              <div class="col">
                <h1>Giovani Lima</h1>
                <h6>Fullstack developer</h6>
              </div>

              <br>

              <div class="col border-left">
                <p>
                  Bem vindo ao meu site!
                </p>
                <p>
                  Sou estudante do curso de ciência da computação na Ulbra Canoas.
                </p>
                <p>
                  Atualmente trabalho como desenvolvedor na <a href="http://www.creditofederal.com.br">Crédito federal</a>,
                  realizando o desenvolvimento de bots e do sistema web de gestão de propostas e contratos de empréstimos 
                  consignados.
                </p>
                <p>
                  Sou um apaixonado pela linguagem Python e utilizo a mesma no meu dia-a-dia para estudos e trabalho.
                  Em ambos utilizo o Python em conjunto com Flask, a modo de desenvolver aplicações web. O backend deste 
                  site por exemplo, é totalmente desenvolvido em Python + Flask e terá seu código fonte distribuido no GitHub
                  em breve.
                  Também utilizo Selenium para a criação de bots para automatizar diversos processos, tais como:
                  <ul>
                    <li>Download de documentos de clientes em site bancário.</li>
                    <li>Digitação de contratos no sistema antigo da empresa.</li>
                    <li>Digitação de propostas de contratos no site do banco correspondente(em andamento).</li>
                  </ul>
                </p>

              </div>

            </div>

        </div>
        <!-- Fim row-->
    </div>
    <!-- Fim container-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>